ALTER TABLE profiles ADD COLUMN IF NOT EXISTS state VARCHAR; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS district VARCHAR; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS taluka VARCHAR; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS village_city VARCHAR; UPDATE profiles p SET state = fp.state, district = fp.district, taluka = fp.taluka, village_city = fp.village_city FROM farmer_profiles fp WHERE p.id = fp.profile_id AND fp.state IS NOT NULL;
